.correct-answer {
    background-color: green !important; /* Зеленый цвет для правильного ответа */
}
.incorrect-answer {
    background-color: red !important; /* Красный цвет для неправильного ответа */
}
.test-container {
    display: none;
}
.test-container.active {
    display: block;
}
.chosen {
    background-color: #d3d3d3;
}
.chosen-word {
    margin-right: 5px;
    margin-bottom: 5px;
}


.question-header {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 3%;
    padding: 20px;
    color: rgb(108, 106, 106);
    position: relative; /* Для псевдоэлемента */


}
.question-header::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px; /* Толщина линии */
    background-color: #777474; /* Цвет линии */
    position: absolute;
    bottom: 0;
    left: 0;
}